body{
	background-color: rgb(20,20,20);
	margin: auto;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.background{
    background-image: url(../imgs/bg7.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.background1{
    /*background-image: url(../imgs/black1.png);*/
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,.6);
    background-attachment: fixed;
    background-position: absolute;
    /*border-bottom: 1px solid white;*/
    margin: auto;
    position: fixed;
    backdrop-filter: blur(4px);
    z-index:2;
}

.align_left{
    display: flex;
    align-content: flex-start;
    margin-left: 10%;
    position: relative;
    bottom: 13px;
}

.align_right{
    display: flex;
    align-content: flex-end;
    margin-top: 28px;
    margin-right: 10%;
    position: relative;
    bottom: 13px;
}

.curriculum{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    line-height: 20px;
    padding-top: 150px;
}

.cur2{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    line-height: 20px;
    /*padding-right: 10px;*/
    /*margin-left: 6%;*/
}

.home{
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 20px;
    text-align: center;
}

.fixed_footer{
    width: 100%;
    height: 215px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    background-attachment: fixed;
    background-position: absolute;
    position: absolute;
    bottom: 0px;
}

.footer{
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    background-attachment: fixed;
    background-position: absolute;
}

.social{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 25px;
}

.logo{
    max-width: 24px;
    position: relative;
}

.logo1{
    max-width: 35px;
    max-height: 35px;
}

.xxss{
    max-width: 20px;
    max-height: 20px;
}

.boto_social{
    width: 40px;
}

.GV{
    position: relative;
    top: 47px;
    margin-right: 20px;
}

.boto_top{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    top: 43.03px;
}

.gmail{
    position: relative;
    top: 2px; 
}

.treballs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 150px;
}

.treballs1{
        padding-top: 210px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        padding-top: 150px;
    }

.video-responsive {
    position: relative;
    padding-bottom: 40.5%; /* 2.35/1 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    width: 100%;
    z-index:1;
    border-radius: 10px;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imatges{
    width: 100%;
    border-radius: 10px;
}

.inter{
    padding-top: 20px;
}

.video{
    padding-top: 20px;
    border-radius: 10px;
}

.imatge1 a, .imatge2 a, .imatge3 a, .imatge4 a{
    opacity: 1;
    filter: blur(0px);
    transition: 0.3s all;
    transition-delay: 0s;
    text-decoration: none;
}

.imatge1{
    width: 49%;
    margin: auto;
    margin-left: 10%;
    margin-bottom: 1%;
    display:inline-block;
    position:relative;
    opacity: 1;
}

.imatge1 > div {
    position:absolute;
    top:43%;
    left:5px;
    bottom: 5px;
    right: 5px;
    text-align: center;
    z-index:-1;
    padding:10px;
    margin:0;
}

.imatge1 a:hover{
    opacity: 0.3;
    filter: blur(2px);
}

.imatge2{
    width: 30%;
    margin: auto;
    margin-right: 10%;
    margin-bottom: 1%;
    display:inline-block;
    position:relative;
    opacity: 1;
}

.imatge2 > div {
    position:absolute;
    top:43%;
    left:5px;
    bottom: 5px;
    right: 5px;
    text-align: center;
    z-index:-1;
    padding:10px;
    margin:0;
}

.imatge2 a:hover{
    opacity: 0.3;
    filter: blur(2px);
}

.imatge3{
    width: 30%;
    margin: auto;
    margin-left: 10%;
    margin-bottom: 1%;
    display:inline-block;
    position:relative;
    opacity: 1;
}

.imatge3 > div {
    position:absolute;
    top:43%;
    left:5px;
    bottom: 5px;
    right: 5px;
    text-align: center;
    z-index:-1;
    padding:10px;
    margin:0;
}

.imatge3 a:hover{
    opacity: 0.3;
    filter: blur(2px);
}

.imatge4{
    width: 49%;
    margin: auto;
    margin-right: 10%;
    margin-bottom: 1%;
    display:inline-block;
    position:relative;
    opacity: 1;
}

.imatge4 > div {
    position:absolute;
    top:43%;
    left:5px;
    bottom: 5px;
    right: 5px;
    text-align: center;
    z-index:-1;
    padding:10px;
    margin:0;
}

.imatge4 a:hover{
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.3s all;
    transition-delay: 0s;
}

.programes{
    max-width: 20px;
    max-height: 20px;
    padding-right: 15px;
    position: relative; 
    top: 4px;
}

.programesC{
    max-width: 20px;
    max-height: 20px;
    padding-right: 10px;
    position: relative; 
    top: 4px;
}

.contactdiv{
    line-height: 30px;
}

.hrdiv{
    width: 800px;
    padding-bottom: 20px;
}

.hrdiv2{
    width: 100%;
    padding-bottom: 20px;
}

.boto_menu{
    margin: auto;
    width: 125px;
    height: 20px;
    padding-top: 7px;
}

.boto_idioma{
    margin: auto;
    width: 28px;
}

.div_idioma{
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
}

.banderes{
    width: 15px;
    height: 10px;
    border-radius: 2px;
}



.imatge11{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        /*padding-right: 10px;*/
        /*margin-left: 6%;*/
    }

.imatge22{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        /*padding-right: 10px;*/
        /*margin-left: 6%;*/
    }



@media only screen and (max-width: 1375px) {

    p{
        width: 800px;
    }

    h2{
        width: 800px;
    }

    .treballs{
        padding-top: 210px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        padding-top: 150px;
    }

    .curriculum{
        padding-top: 210px;
    }


    .imatges{
        width: 800px;
        margin-bottom: 10px;
        margin: auto;
        border-radius: 10px;
    }

    .imatge1{
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        /*padding-right: 10px;*/
        /*margin-left: 6%;*/
    }

    .imatge2{
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        /*padding-right: 10px;*/
        /*margin-left: 6%;*/
    }

    .imatge3{
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        /*padding-right: 10px;*/
        /*margin-left: 6%;*/
    }

    .imatge4{
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        /*padding-right: 10px;*/
        /*margin-left: 6%;*/
    }

    .imatge11{
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        /*padding-right: 10px;*/
        /*margin-left: 6%;*/
    }

    .imatge22{
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
        /*padding-right: 10px;*/
        /*margin-left: 6%;*/
    }
    
    .hrdiv{
        width: 800px;
        padding-bottom: 20px;
    } 

    .hrdiv2{
        width: 800px;
        padding-bottom: 20px;
    }

    .top_container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgba(0,0,0,.6);
        background-attachment: fixed;
        background-position: absolute;
        /*border-bottom: 1px solid white;*/
        margin: auto;
        position: fixed;
        backdrop-filter: blur(4px);
        padding-bottom: 20px;
        padding-top: 0px;
    }

    .align_left{
        display: flex;
        align-content: flex-start;
        padding-right: 0px;
        margin-left: 0px;
    }

    .align_right{
        width: 100%;
        display: flex;
        align-content: flex-end;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 992px) {

}



h1{
    padding-top: 25px;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

h2, h3, h4{
	color: rgb(255,255,255);
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-shadow: rgba(0,0,0,0.3) 0px 0px 5px;
    width: 100%;
    /*letter-spacing: 1px;*/
}

p{
    width: 100%;
}

.pad{
    margin-top: 800px;
}

.font1{
    color: rgb(225,225,225);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.font2{
    color: rgb(180,180,180);
	font-family: 'Roboto', sans-serif;
	text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.font3{
    color: rgb(225,225,225);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

.font4{
    color: rgb(225,225,225);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.links a{
    color: rgb(180,180,180);
    text-decoration: none;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    transition: 0.3s all;
    transition-delay: 0s;
}

.links a:hover{
    background-color: rgba(128,128,128,0.3);
    /*border-bottom: 2px white solid;*/
    /*font-size: 15px;*/
}

.linkcontacte a{
    color: rgb(180,180,180);
    text-decoration: none;
    padding: 5px;
    transition: 0.3s all;
    transition-delay: 0s;
}

.linkcontacte a:hover{
    color: rgb(225,225,225);
}

.link_idioma a{
    color: rgb(180,180,180);
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s all;
    transition-delay: 0s;
}

.link_idioma a:hover{
    background-color: rgba(128,128,128,0.3);
}

.tab_active a{
    color: white;
}

.idioma_active a{
    color: white;
}