body{
	background-color: rgb(15,15,15);
	margin: auto;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.background{
    background-image: url(../imgs/bg7.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.background1{
    background-image: url(../imgs/black1.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.top_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,.6);
    background-attachment: fixed;
    background-position: absolute;
    border-bottom: 1px solid white;
    margin: auto;
    position: fixed;
    backdrop-filter: blur(4px);
    padding-bottom: 20px;
    padding-top: 0px;
}

.align_left{
    display: flex;
    align-content: flex-start;
    margin-left: 6%;
}

.align_right{
    display: flex;
    align-content: flex-end;
    margin-top: 35px;
    margin-right: 6%;
}

.curriculum{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    line-height: 20px;
    padding-top: 210px;
}

.home{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 20px;
}

.bottom_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
    background-attachment: fixed;
    background-position: absolute;
    border-top: 1px solid white;
    margin: auto;
    position: absolute;
    bottom: 0px;
}

.bottom_container1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
    background-attachment: fixed;
    background-position: absolute;
    border-top: 1px solid white;
    margin: auto;
}

.treballs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    line-height: 20px;
    padding-top: 210px;
}

.imatges{
    width: 100%;
    margin-bottom: 10px;
    margin: auto;
    border: 1px white groove;
}

.imatge1{
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    line-height: 20px;
    padding-right: 10px;
    margin-left: 6%;
}

.imatge2{
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    line-height: 20px;
    padding-left: 10px;
    margin-right: 6%;
}

.logo{
    max-width: 50px;
    max-height: 50px;
    margin-top: 37px;
    margin-right: 20px;
}

.logo1{
    max-width: 50px;
    max-height: 50px;
    margin-top: 36.94px;
    margin-bottom: 36.94px;
}

.programes{
    max-width: 20px;
    max-height: 20px;
    padding-right: 15px;
}

.hrdiv{
    width: 800px;
    padding-bottom: 20px;
}

.hrdiv2{
    width: 100%;
    padding-bottom: 20px;
}

.boto_menu{
    margin: auto;
    width: 175px;
    height: 20px;
}

.boto_idioma{
    margin: auto;
    width: 35px;
}

.div_idioma{
    display: flex;
    flex-wrap: wrap;
}

.banderes{
    width: 20px;
    height: 12px;
}



@media only screen and (max-width: 1375px) {
    .treballs{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        line-height: 20px;
        padding-top: 210px;
    }

    .imatges{
        width: 800px;
        margin-bottom: 10px;
        margin: auto;
        border: 2px white groove;
    }

    .imatge1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
    }

    .imatge2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
        line-height: 20px;
    }

    .hrdiv{
        width: 800px;
        padding-bottom: 20px;
    } 

    .hrdiv2{
        width: 800px;
        padding-bottom: 20px;
    }

    .top_container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgba(0,0,0,.6);
        background-attachment: fixed;
        background-position: absolute;
        border-bottom: 1px solid white;
        margin: auto;
        position: fixed;
        backdrop-filter: blur(4px);
        padding-bottom: 20px;
        padding-top: 0px;
    }

    .align_left{
        display: flex;
        align-content: flex-start;
        padding-right: 60px;
    }

    .align_right{
        width: 100%;
        display: flex;
        align-content: flex-end;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 992px) {

}



h1{
    padding-top: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-weight: 800;
}

h2, h3, h4{
	color: rgb(255,255,255);
	font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-weight: 800;
    text-shadow: rgba(0,0,0,0.3) 0px 0px 5px;
}

.font1{
    color: rgb(225,225,225);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.font2{
    color: rgb(180,180,180);
	font-family: 'Poppins', sans-serif;
	text-align: center;
    font-weight: bold;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.font3{
    color: rgb(225,225,225);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.links a{
    color: rgb(180,180,180);
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    transition: 0.3s all;
    transition-delay: 0s;
}

.links a:hover{
    background-color: rgba(128,128,128,0.3);
    /*border-bottom: 2px white solid;*/
    font-size: 15px;
}

.linkcontacte a{
    color: rgb(225,225,225);
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    transition: 0.3s all;
    transition-delay: 0s;
}

.linkcontacte a:hover{
    background-color: rgba(128,128,128,0.3);
}

.link_idioma a{
    color: rgb(180,180,180);
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s all;
    transition-delay: 0s;
}

.link_idioma a:hover{
    background-color: rgba(128,128,128,0.3);
}

.tab_active a{
    color: white;
}

.idioma_active a{
    
}